.advantages {
    padding: 70px 0;
    color: var(--second-color, #383A4C);
    text-align: center;   
}

.advantages__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 25px;
}

.advantages__subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 35px;
    position: relative;
    display: inline-block;
}

.advantages__subtitle::before {
    content: "";
    width: 43px;
    height: 2px;
    position: absolute;
    background-color: #383A4C;
    top: 50%;
    left: -65px;
}

.advantages__subtitle::after {
    content: "";
    width: 43px;
    height: 2px;
    position: absolute;
    background-color: #383A4C;
    top: 50%;
    left: 80px;
}

.advantages__description {
    font-size: 18px;
    line-height: 25px;
    color: #383A4C;
    max-width: 724px;
    margin: 0 auto 60px;
}

.advantages__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    counter-reset: count 0;  
}

.advantages__item {
    flex: 0 0 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: var(--second-color, #383A4C);
    counter-increment: count;
}

.advantages__item::before {
    content: counter(count);
    display: block;
    font-weight: 500;
    font-size: 57px;
    line-height: 100%;
    text-align: center;
    color: var(--main-color, #FFFFFF);
    padding: 32px;
    background-color: #23C7EC;    
    border-radius: 50%;
    width: 122px;
    height: 122px;
    margin: 0 auto 16px;    
}

@media (max-width: 1280px) {
    .advantages {
        padding: 70px 0 74px;
    }    
    .advantages__title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 23px;
    }
    .advantages__subtitle {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 30px;
    } 
    .advantages__subtitle::before {
        width: 40px;
        height: 2px;
        left: -60px;
    }    
    .advantages__subtitle::after {
        width: 40px;
        height: 2px;
        left: 74px;
    }
    .advantages__description {
        font-size: 16px;
        line-height: 23px;
        max-width: 666px;
    }     
    .advantages__item {
        flex: 0 0 180px; 
        font-size: 18px;
        line-height: 25px;       
    }  
    .advantages__item::before {
        font-size: 52px;
        line-height: 73px;
        padding: 15px;
        width: 104px;
        height: 104px;
        margin: 0 auto 24px;    
    }   
}

@media (max-width: 900px) {
    .advantages__list {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .advantages__list {
        flex-wrap: wrap;
        gap: 30px;
    }
    .advantages__item {
        flex: 0 0 180px;        
    }  
}

@media (max-width: 500px) {
    .advantages__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 18px;
    }
}

@media (max-width: 320px) {
    .advantages {
        padding: 30px 0 63px;
    }
    .advantages__subtitle {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 28px;
    }
    .advantages__subtitle::before {
        width: 20px;
        height: 1px;
        left: -45px;
    }    
    .advantages__subtitle::after {
        width: 20px;
        height: 1px;
        left: 63px;
    }
    .advantages__description {
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 40px;
    } 
    .advantages__list {
        max-width: 166px;
        flex-direction: column;
        margin: 0 auto;
        gap: 42px;
    }    
}