.footer {
    padding: 45px 0;
    background-color: #2F324B;    
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrap {
    display: flex;
    align-items: center;    
}

.footer__logo {
    margin-right: 19px;
}

.footer__copyright {
    max-width: 127px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.footer__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.footer__text-mobile {
    display: none;
}

@media (max-width: 1280px) {
    .footer {
        padding: 37px 0 49px;       
    }
    .footer__logo {
        margin-right: 21px;
    }     
    .footer__text {
        color: rgba(255, 255, 255, 0.5);
    }
}

@media (max-width: 650px) {
    .footer {
        padding: 25px 0 0;
    }
    .footer__container {
        padding-bottom: 25px;
    }
    .footer__logo {
        margin-right: 19px;
    } 
    .footer__copyright {
        font-size: 8px;
        line-height: 11px;
        max-width: 88px;
        margin-right: auto;
    }
    .footer__text {
        display: none;
    }
    .footer__phone-mobile {
        display: block;
    }
    .footer__text-mobile {
        display: block;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        padding: 15px 0;
        background-color: #2A2C3F;
    }
}